<div class="grid xl:grid-cols-2 xl:mt-36">
  <div class="order-last xl:order-first mt-10 xl:mt-0">
    <h1 class="text-5xl xl:text-8xl text-center xl:text-left font-bold text-neutralVeryDarkViolet">More than just shorter links</h1>
    <p class="text-xl text-center xl:text-left text-neutralGrayishViolet mt-5 xl:mt-0 xl:w-9/12 leading-8">Build your brand's recognition and get detailed insights
      on how your links are performing.</p>
    <button
      class="block mx-auto xl:mx-0 bg-primaryCyan text-white py-3 px-10 rounded-full font-bold mt-7"
      type="button">Get Started</button>
  </div>
  <div class="relative mt-10 order-first xl:order-last">
    <img class="mx-auto xl:absolute xl:right-0 xl:-bottom-14 xl:mx-0" ngSrc="assets/img/illustration-working.svg" alt="Image worker" height="482" width="733">
  </div>
</div>
