<div class="mx-auto mt-10 font-Poppins w-10/12">
  <home-header></home-header>
  <home-started></home-started>
</div>
<div class="mx-auto mt-48 font-Poppins bg-gray-200">
  <div class="w-10/12 mx-auto">
    <home-shorten></home-shorten>
  </div>
  <home-statistics></home-statistics>

  <div class="z-10 relative bg-primaryViolet mt-16 py-20">
    <div
      class="-z-10 w-full h-full absolute top-0 right-0 bg-[url(src/assets/img/bg-boost-mobile.svg)] xl:bg-[url(src/assets/img/bg-boost-desktop.svg)] bg-right-top bg-no-repeat"
    ></div>

    <h3 class="z-20 text-2xl text-center text-white font-bold">Boost your links today</h3>
    <button
      class="z-20 block mx-auto bg-primaryCyan text-white py-3 px-10 rounded-full font-bold mt-4"
      type="button">Get Started</button>
  </div>
</div>
