  <form class="-translate-y-1/2" [formGroup]="myForm" (ngSubmit)="generateShortLink()">
    <div class="relative overflow-hidden flex flex-col xl:flex-row gap-10 xl:gap-0 items-center justify-evenly bg-primaryViolet py-10 rounded-xl xl:w-11/12 xl:mx-auto">
      <div class="flex justify-center z-10 relative w-8/12">
        <input
          class="border-4 w-full mx-auto bg-white p-3 rounded z-10"
          [ngClass]="{'border-red-500 focus:outline-none': isInvalidField('link'), 'border-transparent': !isInvalidField('link')}"
          type="text"
          placeholder="Shorten a link here..."
          formControlName="link"
        />
        <p
          *ngIf=" isInvalidField('link')"
          class="absolute text-left text-xs text-red-500 italic mt-1 w-full"
          style="top: 100%;"
        >Please add a link</p>
      </div>

      <button
        type="submit"
        class="block bg-primaryCyan hover:bg-cyan-500 font-bold text-white p-3 rounded w-10/12 xl:w-2/12 z-10"
      >Shorten It!</button>

      <!-- Decorator -->
      <div
        class="absolute top-0 right-0 h-full w-full bg-right-top bg-[url(src/assets/img/bg-shorten-mobile.svg)] xl:bg-[url(src/assets/img/bg-shorten-desktop.svg)] bg-no-repeat xl:bg-cover"
      ></div>
    </div>

  </form>

  <div
    *ngIf="shortLinksList.length > 0"
    class="flex flex-col gap-16"
  >
    <home-cardlink
      *ngFor="let shortestLink of shortLinksList"
      [shortestLink]="shortestLink"
    ></home-cardlink>
  </div>
