<div class="flex justify-between items-center font-bold text-gray-400">
  <div class="flex items-center gap-10">
    <img ngSrc="assets/img/logo.svg" alt="Logo Shortly" height="33" width="121">

    <nav class="flex gap-7">
      <a href="#">Features</a>
      <a href="#">Pricing</a>
      <a href="#">Resources</a>
    </nav>
  </div>

  <div class="flex gap-7 items-center">
    <a href="#">Login</a>
    <a class="text-white bg-cyan-400 rounded-2xl py-1.5 px-4" href="#">Sign Up</a>
  </div>
</div>
