<div class="flex justify-between items-center font-bold text-gray-400">
  <div class="flex items-center gap-10 w-full justify-between xl:justify-normal">
    <img ngSrc="assets/img/logo.svg" alt="Logo Shortly" height="33" width="121">

    <nav class="hidden xl:flex gap-6">
      <a href="#">Features</a>
      <a href="#">Pricing</a>
      <a href="#">Resources</a>
    </nav>

    <div class="xl:hidden">
      <button
        class="xl:hidden"
        type="button"
        (click)="setHideMenu()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-8 h-8"
        ><path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
        />
        </svg>
      </button>
    </div>
  </div>
  <nav class="hidden xl:flex items-center gap-6 xl:w-56">
    <a href="#">Login</a>
    <a href="#" class="bg-primaryCyan text-white rounded-2xl py-1.5 px-4">Sign Up</a>
  </nav>
</div>

<div
  class="bg-primaryViolet text-white text-xl text-center py-8 mt-5 rounded-xl font-bold transition-all ease-in-out duration-1500"
  [ngClass]="{'h-0 opacity-0': hideMenu, 'py-8 mt-5' : !hideMenu}"
>
  <div class="xl:hidden invisible divide-y divide-neutralGrayishViolet w-11/12 mx-auto"
       [ngClass]="{'opacity-0 invisible': hideMenu}">
    <nav class="flex flex-col gap-6 pb-8">
      <a href="#">Features</a>
      <a href="#">Pricing</a>
      <a href="#">Resources</a>
    </nav>

    <nav class="flex flex-col gap-6 pt-8">
      <a href="#">Login</a>
      <a href="#" class="bg-primaryCyan text-white rounded-2xl py-1.5 px-4">Sign Up</a>
    </nav>
  </div>
</div>
